/*feuille de style pour les commentaires*/

.commentaire {
    background-image: url("neymar.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 100%;
}

.commentaire p {
    color: #fcfcfc;
    margin: 0;
}

.commentaire h3 { 
    color: #fcfcfc;
    /* nom de l'utilisateur gras et en italique */
    font-weight: bold;
    margin: 20px;
}

.commentaire h3 span:hover {
    color: #b9b9b9;
    cursor: pointer;
}

.commentaire p[name=text] {
    color: #ffffff;
    background: rgba(200, 157, 157, 0.128);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
}

.commentaire p[name=date] {
    color: #b9b9b9;
    font-style: italic;
    padding: 10px;
    margin: 10px;
}

.commentaire p[name=likes] {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    margin-left: 20px;
    font-size: large;
    
}

.commentaire p[name=likes] button {/* petit bouton pour liker le commentaire */
    background: none;
    border: none;
    margin-left: 5px;
    padding: 1px;
    cursor: pointer;
    /*reduire la zone cliquable*/
    width: fit-content;
    border-radius: 100%;
    transition: background-color 0.2s;

}

.commentaire p[name=likes] button:hover {
    background-color: #ff000014;
}

.commentaire button[name=nolike] img {
    width: auto;
    height: 30px;
    /*diminuer la luminosité de l'image*/
    filter: brightness(0.5);
}

.commentaire button[name=nolike] img:hover {
    filter: brightness(1);
}
.commentaire button[name=like] img {
    width: auto;
    height: 30px;
    /*diminuer la luminosité de l'image*/
}


.commentaire button[name=voir] {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.33;
    padding: 5px;
    border: 1px solid #707070ce;
    border-radius: 5px;
    background-color: #2722229c;
    transition: background-color 0.2s;
    cursor: pointer;
    width: fit-content;
    filter: brightness(0.5);
}

.commentaire button[name=voir]:hover {
    background-color: #300c0c;
    color: #ffffff;
    filter: brightness(1);
}

.commentaire button[name="delete"] {
    background-color: #000000;
    color: #ffffff5d;
    border: 1px solid #ffffff46;
    /*mettre le bouton tout à droite*/
    margin-left: auto;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    font-size: 12px;
    background-color: #3434344e;
    transition: background-color 0.2s;
    cursor: pointer;
    width: fit-content;

}

.commentaire button[name="delete"]:hover {
    background-color: #7c0000;
    color: #fff;
}

.bottom {
    display: flex;
    flex-direction: column-reverse;

}