#navigation_pan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #007bff;*/
    padding: 10px;
  } 
  
  /*mettre l'image a gauche*/
    #navigation_pan img { 
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100px;
        border-radius: 15%;
      
    }
  
  /*mettre le formulaire au centre*/
    #navigation_pan form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navigation_pan input {
        width: 200px;
        height: 20px;
        border-radius: 5px;
        border: none;
        padding: 5px;
        margin-right: 10px;
        
    }

    #navigation_pan button {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: #cecece;
        color: #007bff;
        font-weight: bold;
        font-size: 16px;
        transition: background-color 0.2s;
    }
    #navigation_pan button:hover{
      background-color: #0092bb;
      color: #bfec0d;
    }
  
  
  #navigation_pan button:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  