#navigation_pan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  } 
  
  /*mettre l'image a gauche*/
    #navigation_pan img { 
        width: 100px;
        border-radius: 15%;    
    }

    .top-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      
    }
    .top-right button {
      margin-left: 10px;
    }
    #navigation_pan input {
        width: 300px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #000000;
        background-color: #cececed4;
        color: #000000;
        font-weight: bold;
        font-size: 16px;
        transition: background-color 0.2s; 
    }

    #navigation_pan button {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #000000;
        background-color: #cececec5;
        color: #000000;
        font-weight: bold;
        font-size: 16px;
        transition: background-color 0.2s;
    }
    #navigation_pan button:hover{
      background-color: #121212d1;
      color: #ffffff;
    }
  
  
  #navigation_pan button:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  