#navigation_pan {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
} 

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #b9b9b9;
  opacity: 1;
  box-shadow: 0 4px 6px rgb(79, 79, 79);
  transition: all 0.3s ease-in-out;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #000000c2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.361);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.scrolled:hover {
  opacity: 1;
  background-color: #b9b9b9cc;
}  
/*mettre l'image a gauche*/
    .navigation_pan img { 
        width: 70px;
        border-radius: 15%;    
        margin-left: 10px;
    }

    .top-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 10px;
    }
    .top-right button {
      margin-left: 10px;
      margin-right: 15px;
    }
    #navigation_pan .login input {
        width: 300px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #000000;
        background-color: #cececed4;
        color: #000000;
        font-weight: bold;
        font-size: 16px;
        transition: background-color 0.2s; 
    }

    #navigation_pan button {
        width: max-content;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #000000;
        background-color: #cececec5;
        color: #000000;
        font-weight: bold;
        font-size: 16px;
        transition: background-color 0.2s;
    }
    #navigation_pan .login button:hover{
      background-color: #055100d1;
      color: #ffffff;
    }
    #navigation_pan .logout button:hover {
      background-color: #c20000d1;
      color: #ffffff;
    }
  
  #navigation_pan button:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .topC {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .defile {
    /* Marquee */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    margin-right: 30px;
    height: 50px;
    overflow: hidden;
  }
  .defile img {
    height: 50px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .defile-text {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    text-shadow: 0px 0px 10px rgb(255, 0, 0);
    margin-left: 10px;

  }

  .profilNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
  }
  .profilNav img {
    height: 40px;
    width: auto;
  }

  .profilNav span {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    margin-left: 10px;
  }