/*affiche une imahge en fond d'écran*/

body {
    background-image: url("Kimpembe.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}